node_modules/
src/data/db.json
.env
.env.*
!.env.example
data/
src/data/db*.json
public/uploads/media/
*.zip
*.pem
*.key
public/uploads/slips/*
!public/uploads/slips/.gitkeep
public/uploads/banner/*
!public/uploads/banner/.gitkeep
